/* Hero Section */
.hero-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  padding: 0 20px;
  background: #060c3e;
  color: white;
  position: relative;
}

.hero-section h1 {
  font-size: 60px;
  margin-bottom: 30px;
  font-weight: 800;
}

.highlight {
  color: #06D6A0 !important; 
  font-weight: 700; /* font-bold */
}

.hero-section p {
  font-size: 20px;
  margin: 15px 0;
  font-weight: 600;
}

.cta {
  margin-top: 40px;
}

.details {
  margin-top: 15px;
  font-weight: 600;
}

.green-highlight {
  color: #06D6A0 !important; /* Ensure this green color is applied */
  font-weight: 700; /* font-bold */
}

.register-btn {
  display: inline-block;
  background-color: #E63946;
  color: white;
  padding: 15px 25px;
  font-size: 1.2rem;
  text-decoration: none;
  border-radius: 8px;
  margin-top: 30px;
  transition: 0.3s;
}

.register-btn:hover {
  background-color: #c72f3b;
}
.green-highlight {
  color: #06D6A0 !important; /* Ensure this green color is applied */
  font-weight: 700; /* font-bold */
}
